@mixin color-a($white-color) {
  a {
    text-decoration: none;
    color: $white-color;

    &:hover {
      text-decoration: none;
      color: #EB4247;
    }
  }
}

@mixin footer-col {
  margin-top: 80px;
  display: flex;
  align-items: flex-end;
}